/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

div {
  border: 1px solid black;
}
main {
  margin: 80px auto;
  width: 80%;
}
.left-container {
  float: left;
  padding: 10px;
}
.right-container {
  float: right;
  padding: 10px;
  width: 57%;
}
.brand-container {
  position: relative;
  overflow: hidden;
}
.brand {
  float: left;
}
.button {
  position: absolute;
  top: 25px;
  right: 20px;
}
.main-text-container {
  clear: both;
  background: url("../images/frame.png") no-repeat;
  width: 81%;
  padding: 30px 0 30px 30px;
}
.app-store {
  float: left;
}
.navbar {
  clear: both;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}
.navbar li{
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
  font-size: 85%;
}
.navbar a {
  text-decoration: none;
  color: #5C7696;
}
