/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #fff url("../images/bgtile.png") repeat-x;
}
main {
  margin: 80px auto;
  width: 80%;
}
.left-container {
  float: left;
  padding: 10px;
}
.right-container {
  float: right;
  padding: 10px;
  width: 57%;
}
.brand-container {
  position: relative;
  overflow: hidden;
}
.brand {
  float: left;
}
.button {
  position: absolute;
  top: 20%;
  right: 10%;
}
.main-text-container {
  clear: both;
  background: url("../images/frame.png") no-repeat;
  background-size: 100%;
  width: 80%;
  padding: 30px;
}
.main-text-container h2 {
  color: #203358;
  font-size: 160%;
}
.app-store {
  float: left;
}
.navbar {
  clear: both;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}
.navbar li{
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
  font-size: 85%;
}
.navbar a {
  text-decoration: none;
  color: #5C7696;
}
